.message {
    width: 100%;
    background-color: rgba(00, 00, 00, 0.4);
    margin: 10px 0 0;
    padding: 10px 0;
    transition: all 800ms linear;
}

.message > div{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
}

.messageShown {
    opacity: 1;
}

.messageHidden {
    opacity: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
}

.top {
    height: 100vh;
}

.bottom {
    height: 0;
    margin: 0;
    padding: 0;
}